<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="sys/layout/header::header-fragment"></header>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">日志列表
                <span class="btn_right"  >
					<a id="refresh" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
                </span>
            </div>
            <div class="layui-card-body">
                <!--头部工具栏-->
                <div class="toolbar">
                    <div class="layui-row">
                        <div class="layui-form-item">
                            <div class="layui-col-md3" style="padding-left:0">
                                <div class="input-group">
                                    <input type="text" id="keywords" name="keywords" placeholder="请输入查找的内容" autocomplete="off" class="layui-input">
                                    <span class="input-group-btn">
                                        <button class="layui-btn" id="search" data-type="reload">
                                            <i class="layui-icon layui-icon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="layui-row">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                                <button id="delete" data-type="delete" class="layui-btn layui-btn-sm layui-bg-green"><i class="layui-icon layui-icon-delete"></i>删除</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row">
                    <!--表单数据-->
                    <table id="logList" lay-filter="logFilter"></table>

                    <!---操作-->
                    <script type="text/html" id="barTpl">
                        <a href="#" title="删除" lay-event="delete"><i class="layui-icon layui-icon-delete" style="font-size: 25px;"></i></a>
                    </script>

                    <!--状态-->
                    <script type="text/html" id="stateTpl">
                        {{#  if(d.status == 0){ }}
                        <span style="color: #5FB878;"> 正常 </span>
                        {{#  } else { }}
                        <span style="color: #FF5722;"> 异常 </span>
                        {{#  } }}
                    </script>
                </div>
            </div>
        </div>
	</div>
    <!-- 引入页脚footer-fragment -->
    <div th:replace="sys/layout/footer::footer-fragment"></div>
    <script type="text/javascript"  th:inline="none">
        layui.config({
            base: '/static/layuiadmin/module/'
        }).use(['table','common'], function () {
            var $ = layui.$, table = layui.table, common = layui.common;
            //执行一个 table 实例
            table.render({
                elem: '#logList'
                ,title: '日志表'
                ,height: 'full-110'
                ,url: "/sys/log/list" //数据接口
                ,request: {
                    pageName: 'currPage' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,response: {
                    statusCode: 200 //规定成功的状态码，默认：0
                }
                ,page: true
                ,limit: 10 //每页几条
                ,even: true //开启隔行背景
                ,cols: [[ //表头
                     {type: 'checkbox', fixed: 'left'}
                    ,{field: 'logId', title: 'ID', width:80, hide: true}
                    ,{field: 'operation', title: '日志名称', width:120}
                    ,{field: 'username', title: '用户', width:120}
                    ,{field: 'status', title: '状态', width:110, align:"center", templet: '#stateTpl'}
                    ,{field: 'method', title: '方法', width:120}
                    ,{field: 'params', title: '参数', width:120}
                    ,{field: 'time', title: '执行时长', width:120}
                    ,{field: 'ip', title: 'IP', width:120}
                    ,{field: 'addr', title: '地址', width:120}
                    ,{field: 'requestUrl', title: 'URL', width:120}
                    ,{field: 'requestMethod', title: '请求类型', width:120}
                    ,{field: 'jsonResult', title: '响应数据', width:120}
                    ,{field: 'errorMsg', title: '异常日志', width:120}
                    ,{field: 'remark', title: '日志描述', width:250}
                    ,{field: 'createTime', title: '创建时间', width: 180}
                    ,{title: '操作', minWidth:200, templet:'#barTpl',fixed:"right",align:"center"},
                ]]
                ,parseData: function(res) { //res 即为原始返回的数据
                    if(res.code == 200)
                        return {
                            "code": res.code,//解析接口状态
                            "msg": res.msg, //解析提示文本
                            "count": res.data.totalCount, //解析数据长度
                            "data": res.data.list //解析数据列表
                        };
                    else{
                        return {
                            "code": res.code,//解析接口状态
                            "msg": res.msg //解析提示文本
                        };
                    }
                }
            });

            //工具栏
            var active = {
                reload: function () {
                    var key = $("#keywords").val();
                    //执行重载
                    table.reload('logList', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            keywords: key
                        }
                    });
                }
                ,delete: function(){
                    var checkStatus = table.checkStatus("logList");//idTest 即为table基础参数 id 对应的值
                    var data = checkStatus.data;
                    var logIds = layui.$.map(data, function(d){return d.logId;});
                    console.log(logIds);
                    layer.confirm('确定要删除选中的日志吗？', function(index){
                        del(logIds);
                    });
                }
            };

            //搜索回车
            document.onkeydown = function(e){
                var ev =document.all ? window.event : e;
                if(ev.keyCode==13) {
                    $('#search').trigger("click");
                    return false
                }
            }
            //点击事件
            $('.toolbar .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });



            //监听操作栏
            table.on('tool(logFilter)', function(obj){
                var data = obj.data;
                if(obj.event === 'delete'){
                    var logIds= [];
                    logIds.push(data.logId);
                    layer.confirm('确定要删除日志吗？', function(index){
                        del(logIds);
                    });
                }
            });


            var del = function(ids){
                $.ajax({
                    url: '/sys/log/delete',
                    data: JSON.stringify(ids),
                    success: function (res) {
                        console.log(res);
                        if(res.code == 200){
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 1,
                                time: 1000
                            }, function () {
                                //刷新表格
                                table.reload('logList');
                            });
                        }else{
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 5,
                                time: 1000
                            });
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
