<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="sys/layout/header::header-fragment"></header>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-card layui-anim layui-anim-upbit">
                    <div class="layui-card-header">修改配置
                        <span class="btn_right"  >
					        <a id="back" style="padding-right: 20px;" title="返回上一页" onclick="javascript:window.history.back(-1);"><i class="layui-icon layui-icon-release"></i></a>
                            <!--<a id="refresh" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>-->
                        </span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" lay-filter="configFrom" style="padding: 20px 30px 0 0;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">配置关键字</label>
                                <div class="layui-input-block">
                                    <input type="hidden" style="width: 80%;" name="configId" class="layui-input">
                                    <input type="text" name="configKey" class="layui-input" lay-verify="required">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">配置值</label>
                                <div class="layui-input-block">
                                    <textarea name="configValue" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="update">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入页脚footer-fragment -->
    <div th:replace="sys/layout/footer::footer-fragment"></div>
    <script type="text/javascript"  th:inline="none">
            layui.config({
                base: '/static/layuiadmin/module/'
            }).use(['form','layer','common'], function () {
                var $ = layui.jquery,
                    layer = layui.layer,
                    common = layui.common,
                    form = layui.form;

                var dataId = common.getUrlParam("dataId");

                //加载信息
                $.ajax({
                    url: "/sys/config/info/"+dataId,
                    type: 'POST',
                    async:false,
                    success: function(res){
                        if(res.code == 200){
                            var data = res.data;
                            form.val('configFrom', data);
                        }else{
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 5,
                                time: 1000
                            });
                        }
                    }
                });

                //监听提交
                form.on('submit(update)', function(data){

                    var json =  data.field;
                    $.ajax({
                        url: '/sys/config/update',
                        data: JSON.stringify(json),
                        success: function (res) {
                            console.log(res);
                            if(res.code == 200){
                                layer.msg(res.msg, {
                                    offset: '15px',
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    //返回上一页
                                    window.location = 'list.html';
                                });
                            }else{
                                layer.msg(res.msg, {
                                    offset: '15px',
                                    icon: 5,
                                    time: 1000
                                });
                            }
                        }
                    });
                    return false;
                });

            });

        </script>
</body>
</html>
