<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer-fragment">
        <script type="text/javascript" src="/static/layuiadmin/layui/layui.js"></script>

        <!--文章 mk编辑器-->
        <script src="/static/plugins/md/js/jquery-1.11.1.min.js"></script>
        <script src="/static/plugins/md/codemirror/codemirror.js"></script>
        <!--编辑连续性-->
        <script src="/static/plugins/md/codemirror/addon/edit/continuelist.js"></script>
        <!--当前编辑行选中-->
        <script src="/static/plugins/md/codemirror/addon/selection/active-line.js"></script>
        <!--编辑器语言-->
        <script src="/static/plugins/md/codemirror/mode/markdown/markdown.js"></script>
        <script src="/static/plugins/md/codemirror/mode/gfm/gfm.js"></script>
        <script src="/static/plugins/md/codemirror/mode/xml/xml.js"></script>

        <script src="/static/plugins/md/codemirror/addon/mode/overlay.js"></script>

        <script src="/static/plugins/md/js/marked.min.js"></script>

        <!--代码高亮-->
        <script src="/static/plugins/md/js/prism.js"></script>
        <!--<link href="https://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>-->

        <script src="/static/plugins/md/js/mdeditor.js"></script>


    </footer>
</html>
