<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:replace="sys/layout/header::header-fragment"></header>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">菜单列表
                <span class="btn_right"  >
					<a id="refresh" title="刷新"><i class="layui-icon layui-icon-refresh"></i></a>
                </span>
            </div>
            <div class="layui-card-body">
                <!--头部工具栏-->
                <div class="toolbar">
                    <div class="layui-row">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                                <button id="add" data-type="add" class="layui-btn layui-btn-sm layui-bg-green"><i class="layui-icon layui-icon-add-1"></i>添加</button>
                                <button class="layui-btn layui-btn-primary" data-type="openAll">全部展开</button>
                                <button class="layui-btn layui-btn-primary" data-type="closeAll">全部关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row menuList">
                    <!--表单数据-->
                    <table class="layui-table" id="menuList" lay-filter="menuFilter"></table>

                </div>
            </div>
        </div>
	</div>
    <!-- 引入页脚footer-fragment -->
    <div th:replace="sys/layout/footer::footer-fragment"></div>
    <script type="text/javascript"  th:inline="none">
        layui.config({
            base: '/static/layuiadmin/module/'
        }).use(['table','form','treeTable','common'], function () {
            var $ = layui.$
                ,table = layui.table
                ,treeTable = layui.treeTable
                ,form = layui.form
                ,common = layui.common;
            var data;
            $.ajaxSettings.async = false;//同步
            $.post("/sys/menu/list", function(res) {
                if (res.code === 200) {
                    data = res.data;
                }else if(res.code === 401){
                    $(".menuList").html('<div class="layui-none">'+res.msg+'</div>');
                }
            });

            //执行一个 table 实例
            var re = treeTable.render({
                elem: '#menuList'
                //,url: "/sys/menu/list" // （url和data参数必须设置一个）
                ,data: data
                ,height: 'full-20'
                ,icon_key: 'menuName'// 必须
                ,primary_key: 'menuId'
                ,parent_key: 'parentId'
                ,is_click_icon: false
                ,is_checkbox: false
                ,end: function(e){
                    form.render();
                },
                cols: [
                    {key: 'menuName', title: '名称', width: '160px'},
                    /*{key: 'parentName', title: '上级菜单', width: '100px', align: 'center',
                        template: function(item){
                            return item.parentName == null ? '' : item.parentName;
                        }
                    },*/
                    {key: 'icon', title: '图标', width: '100px', align: 'center',
                        template: function(item){
                            return item.icon == null ? '' : '<i class="layui-icon '+item.icon+'"></i>';
                        }
                    },
                    {key: 'menuType', title: '类型', width: '100px', align: 'center',
                        template: function(item){
                            if(item.menuType == 'M'){
                                return '<span color="#009688" class="span-color" style="background:#009688">目录</span>';
                            }
                            if(item.menuType == 'C'){
                                return '<span color="#01AAED" class="span-color" style="background:#01AAED">菜单</span>';
                            }
                            if(item.menuType == 'F'){
                                return '<span color="#FF5722" class="span-color" style="background:#FF5722">按钮</span>';
                            }
                        }
                    },
                    {key: 'url', title: 'URL', width:'160px', align: 'center',
                        template: function(item){
                            return item.url == null ? '' : item.url;
                        }
                    },
                    {key: 'isFrame', title: '外链',width:'110px', align: 'center',
                        template: function(item){
                            return item.isFrame === 0 ? '是' : '否';
                        }
                    },
                    {key: 'perms', title: '标识', align: 'center',
                        template: function(item){
                            return item.perms == null ? '' : item.perms;
                        }
                    },
                    {key: 'orderNum', title: '排序', width: '100px', align: 'center'},
                    {key: 'visible', title: '状态',width:'120px', align: 'center',
                        template: function(item){
                            return item.visible == '0' ? '<i class="layui-icon layui-icon-ok"></i>' : '<i class="layui-icon layui-icon-close"></i>';
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        width: '160px',
                        template: function(item){
                            return '<a href="#" title="编辑" lay-filter="update"><i class="layui-icon layui-icon-edit" style="font-size: 25px;"></i></a>&nbsp'
                                +'<a href="#" title="删除" lay-filter="delete"><i class="layui-icon layui-icon-delete" style="font-size: 25px;"></i></a>';
                        }
                    }
                ]
            });

            //工具栏
            var active = {
                //刷新 刷新重载树表（一般在异步处理数据后刷新显示）
                /*reload: function(){
                    treeTable.render(re);
                },*/
                add: function(){
                    window.location = 'add.html';
                }
                //全部展开
                ,openAll: function(){
                    treeTable.openAll(re);
                }
                //全部关闭
                ,closeAll: function(){
                    treeTable.closeAll(re);
                }
            };

            //点击事件
            $('.toolbar .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            // 监听操作修改
            treeTable.on('tree(update)',function(data){
                //console.log(JSON.stringify(data));
                dataId = data.item.menuId;
                window.location = "update.html?dataId=" + dataId;
            });
            // 监听操作删除
            treeTable.on('tree(delete)',function(data){
                //console.log(JSON.stringify(data));
                var menuId = data.item.menuId;
                layer.confirm('确定要删除菜单吗？', function(index){
                    $.post("/sys/menu/delete?menuId="+ menuId, function(res){
                        if(res.code == 200){
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 1,
                                time: 1000
                            }, function () {
                                //刷新表格
                                window.location.reload();
                            });
                        }else{
                            layer.msg(res.msg, {
                                offset: '15px',
                                icon: 5,
                                time: 1000
                            });
                        }
                        });
                });
            });
        });
    </script>
</body>
</html>
