<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="sys/layout/header::header-fragment"></header>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${user.nickName}">名称</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/sys/user/info.html">基本资料</a></dd>
                        <dd><a lay-href="/sys/user/password.html">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;" onclick="window.location.href='/logout'"><a>退出</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>-->
                <!--<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li> -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="/sys/default.html">
                    <span>后台管理系统</span>
                </div>

                <div id="view"></div>

                <script id="nav" type="text/html">
                    {{#
                        var fn = function(a){
                            var result="";
                            result=layui.laytpl(childtpl.innerHTML).render(a);
                            return result;
                        };
                    }}

                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                        {{#  layui.each(d.data, function(index, item){ }}
                            {{# if(item.childMenus != null){ }}
                                    <li data-name="{{ item.parentId }}" data-jump="" class="layui-nav-item ">
                                        <a href="javascript:;" lay-tips="{{ item.menuName }}" lay-direction="2">
                                            <i class="layui-icon {{ item.icon }}"></i>
                                            <cite>{{ item.menuName }}</cite>
                                            {{# if(item.isFrame != 0 || item.childMenus != null){ }}
                                            <span class="layui-nav-more">
                                                </span>
                                            {{# } }}
                                        </a>
                                        {{# if(item.childMenus != null){ }}
                                            {{ fn(item.childMenus) }}
                                        {{# } }}
                                    </li>
                            {{# }else{ }}
                                <li data-name="{{ item.parentId }}" data-jump="" class="layui-nav-item ">
                                    <a href="javascript:;" lay-tips="{{ item.menuName }}" lay-href="{{ item.url }}" lay-direction="2">
                                        <i class="layui-icon {{ item.icon }}"></i>
                                        <cite>{{ item.menuName }}</cite>
                                    </a>
                                </li>
                            {{#  } }}
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                            无数据
                        {{#  } }}
                    </ul>
                </script>

                <script id="childtpl" type="text/html">
                    {{#
                        var fn = function(a){
                            var result="";
                            result=layui.laytpl(childtpl.innerHTML).render(a);
                            return result;
                        };
                    }}

                    {{# layui.each(d, function(index, item){ }}
                        <dl class="layui-nav-child">
                            {{# if(item.childMenus != null){ }}
                                <dd data-name="{{ item.parentId }}" data-jump="">
                                    <a href="javascript:;" >
                                        <i class="layui-icon {{ item.icon }}"></i>
                                        {{ item.menuName }}
                                    </a>
                                    {{# if(item.childMenus != null){ }}
                                        {{ fn(item.childMenus) }}
                                    {{# } }}
                                </dd>
                            {{# }else{ }}
                                <dd data-name="{{ item.parentId }}" data-jump="">
                                    <a href="javascript:;" lay-href="{{ item.url }}">
                                        <i class="layui-icon {{ item.icon }}"></i>
                                        {{ item.menuName }}
                                    </a>
                                </dd>
                            {{# } }}
                        </dl>
                    {{#  }); }}
                </script>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/sys/default" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/sys/default.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 底部 -->
        <div class="layui-footer">
            Copyright © 2019 All rights reserved.</span>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<div th:replace="sys/layout/footer::footer-fragment"></div>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','laytpl','element'], function(){

        var laytpl=layui.laytpl,$=layui.jquery,element = layui.element;

        //第三步：渲染模版
        var data = {};
        $.get("/sys/menu/nav",function(result,status){
            if(result.code == 200){
                data = result;
                var getTpl = nav.innerHTML
                    ,view = document.getElementById('view');
                laytpl(getTpl).render(data, function(html){
                    view.innerHTML = html;
                    element.render();
                });
            }
            if(result.code == 401){
                layer.msg(result.msg, {
                    offset: '15px',
                    icon: 5,
                    time: 1000
                });
            }

        });

    });
</script>
</body>
</html>